@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
   
   
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222222;
    padding: 20px;
    color: white;
}

header {

    color: #ffffff;
    display: flex;
    border-bottom: solid 1px rgb(173, 173, 173);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.header-left{
width: 40%;

}


.title-header-left{
    color: rgb(145, 246, 255);
    
}
.university-header-left{
    color: #b8b8b8;
}
.header-right{
   
width: 60%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

header p{
    font-size: 35px;
    letter-spacing: 6px;
    font-weight: bold;
  
}
header nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
header nav a:hover {
    border-bottom: solid 1px white;
    
}

h1, h2 {
     font-family: "Exo 2", sans-serif;
}

#foto-perfil{
    width: 150px;
    border-radius: 10px;
    
}

section.about-me{

    padding: 10px;
    display: flex;
    margin-bottom: 70px;
    padding-right: 100px;
}
article {
    
    width: 30%;
    float: left;
}

.about-me-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me-right{
    width: 50%;
    padding-left: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.education{
    margin-top: 10px;
}

.about-me-left-left{
    width: 50%;
    text-align: center;
}

.about-me-left-right{
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.experience{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}

.project{
    width: 50%;
    margin-bottom: 100px;
  
  
}

.experience-top{
    display: flex;
   height: 300px;
}
.experience-top-left{

    width: 50%;
   
}
.experience-top-left-name{
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    color: rgb(145, 246, 255);
}
.experience-top-left-description{
    padding: 10px;
    text-align: justify;
}
.experience-top-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    
   
}
.experience-top-right-image{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.experience-top-right-image img{
    width: 70%;
    border-radius: 20px;
  
    
}
.experience-top-right-image img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
 
}


.experience-bottom{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.experience-bottom-left{
    width: 50%;
}

.experience-bottom-left-tech{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}


.experience-bottom-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.experience-bottom-right button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(145, 246, 255);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#habilities{
   
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(60, 79, 79);
    border-radius: 10px;
}
#habilities progress{
    width: 50%;
    height: 20px;
    margin-left: 20px;
  
}
#habilities ul{
    list-style: none;
    padding-left: 20px;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(60, 79, 79);
    border-radius: 10px;
}
#contact h3{
  
    width: 100%;
    margin-bottom: 20px;
    
}
#contact input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

#contact input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}
#contact textarea{
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}
#contact button{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(145, 246, 255);
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 0px 60px 0px 60px;
}
#contact button:hover{
    background-color: rgb(100, 200, 255);
    transition: all 0.3s ease-in-out;
}

.contact-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.contact-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-right p{
    margin: 10px 0;
    font-size: 24px;
}
.contact-right a{
    color: white;
    text-decoration: none;
}

.fields{
   display: flex;
   margin-bottom: 20px;
}
.fields label{
    width :20%;
    font-weight: bold;
}

.fields-checkbox{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: solid 1px rgb(173, 173, 173);
    color: #b8b8b8;
}